<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Contato</title>
</head>
<body>
    <header>
        <h1>CONTATO</h1>
        <nav id="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <p>
            Por favor, preencha os campos abaixo para que possamos entrar em contato com você.
        </p>
        <form name="form-contato" method="POST" action="../CONTROLLER/confirmacao.php">
            <label>
                Nome:
            </label>
            <br>
            <input type="text" id="txt-name" name="nome" required>
            <br>
            <label>
                Telefone:
            </label>
            <br>
            <input type="tel" id="txt-tel" name="tel" required>
            <br>
            <label>
                Email:
            </label>
            <br>
            <input type="email" id="txt-email" name="email" required>
            <br>
            <input type="submit" value="Enviar" id="btn-submit" name="botao">
        </form>
    </section>
    <footer>
        <i>&copy;Lucas Dezembro.</i>
    </footer>
</body>
</html>