<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css" type="text/css">
    <title>Site 1</title>
</head>
<body>
    <header>
        <h1>HOME</h1>
        <nav id="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident veritatis possimus itaque harum explicabo, exercitationem consequatur, at tenetur veniam id nemo facere ipsum cupiditate earum similique minima eos maxime? Id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fuga assumenda, corporis inventore consectetur, rem debitis porro officia, voluptatum laboriosam in quo eos. Dolor non dignissimos delectus aliquid ipsum tenetur?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, ipsam ea harum odit sint eius, minus beatae repellat velit, est fugiat culpa? Illum repellendus eius incidunt, quia earum similique reiciendis?
        </p>
        <img src="imagens/car.jpg" type="image/jpeg" alt="Foto de um carro">
    </section>
    <footer>
        <i>&copy;Lucas Dezembro.</i>
    </footer>
</body>
</html>